/*PÁGINA INICIAL*/
	div.pg.hand-home{

	}
		div.pg.hand-home>section{

		}
			div.pg.hand-home>section article{

			}
				div.pg.hand-home>section h3{
					
				}
					div.pg.hand-home>section article  p{

					}
		div.pg.hand-home>section.hand-destaque-home{
			padding-top: 120px;
			background: #000;
			min-height: 700px;
		}
			div.pg.hand-home>section.hand-destaque-home article{

			}
				div.pg.hand-home>section.hand-destaque-home article h3{
					
				}
					div.pg.hand-home>section.hand-destaque-home article p{
						
					}
					div.pg.hand-home>section.hand-destaque-home a{
						
					}
					div.pg.hand-home>section.hand-destaque-home article a.hand-link-page{

					}
		div.pg.hand-home>section.hand-oqueFazemos-home{
			background: var(--hand_templateClara);
			padding-top: 75px;
			padding-bottom: 175px;
		}
			div.pg.hand-home>section.hand-oqueFazemos-home{

			}
				div.pg.hand-home>section.hand-oqueFazemos-home .hand-title-section-home{

				}
					div.pg.hand-home>section.hand-oqueFazemos-home .hand-title-section-home span{

					}
			div.pg.hand-home>section.hand-oqueFazemos-home article{
				padding-top: 30px;
				max-width: 496px;
				margin: 0 auto;
			}
				div.pg.hand-home>section.hand-oqueFazemos-home article p{
					opacity: 0.5;
				}
			div.pg.hand-home>section.hand-oqueFazemos-home ul{
				list-style: none;
				padding-top: 75px;
				display: block;
				max-width: 1479px;
				margin: 0px auto;
			}
				div.pg.hand-home>section.hand-oqueFazemos-home ul li{
					height: 400px;
					width: 100%;
					max-width: 33%;
					padding: 84px 73px 68px 131px;
					display: inline-block;
					position: relative;
				}
					div.pg.hand-home>section.hand-oqueFazemos-home ul li:hover{
						box-shadow: 0 19px 64px 0 rgba(0,0,0,0.1);
						background-color: #FFFFFF;	
					}
					div.pg.hand-home>section.hand-oqueFazemos-home ul li figure{
					    position: absolute;
					    left: 75px;
					    top: 22%;
					    bottom: 0;
					}
						div.pg.hand-home>section.hand-oqueFazemos-home ul li figure img{
						}
						
						div.pg.hand-home>section.hand-oqueFazemos-home ul li figcaption{

						}
				div.pg.hand-home>section.hand-oqueFazemos-home ul li h2{
					color: var(--hand_fontEscura);	
					font-family: var(--hand_Syncopate);	
					font-size: 25px;	
					font-weight: bold;	
					line-height: 26px;
					margin-bottom: 34px;
				}
				div.pg.hand-home>section.hand-oqueFazemos-home ul li p{
					opacity: 0.5;	
					color: var(--hand_fontPreta);	
					font-family: var(--hand_OpenSans);	
					font-size: var(--hand_sizeTextoMenor);	
					line-height: 28px;
					margin-bottom: 34px;
				}
				div.pg.hand-home>section.hand-oqueFazemos-home ul li span{
					transform: rotate(360deg);	
					color: var(--hand_fontPreta);	
					font-family:var(--hand_OpenSans);	
					font-size: var(--hand_sizeTextoPadrao);	
					font-weight: var(--hand_sizeTextoWeight);	
					line-height: 22px;
					opacity: 0;
					position: relative;
				}
				div.pg.hand-home>section.hand-oqueFazemos-home ul li span:before{
					content: '';
					background-image: url(../img/arrow-right.svg);
				    position: absolute;
				    width: 33px;
				    height: 15px;
				    right: -50px;
				    background-repeat: no-repeat;
				    top: 4px;
				}
					div.pg.hand-home>section.hand-oqueFazemos-home ul li:hover span{
						opacity: 1;
					}
		div.pg.hand-home>section.hand-info-home{
			background: var(--hand_templateEscura);
			padding-top: 154px;
			padding-bottom: 154px;
		}
			div.pg.hand-home>section.hand-info-home span{
				color: var(--hand_fontClara);
				font-family: var(--hand_Syncopate);
				font-size: 25px;
				font-weight: bold;
				line-height: 46px;
				padding-top: 25px;
				display: block;
			}
			div.pg.hand-home>section.hand-info-home article{

			}
				div.pg.hand-home>section.hand-info-home article p{
					opacity: 0.5;
					color: var(--hand_fontClara);
				}
		div.pg.hand-home>section.hand-parceirosTecnologia-home{
			background:var(--hand_templateClara);
			padding-top: 100px;
		}
			div.pg.hand-home>section.hand-parceirosTecnologia-home>h3{
				color: #000000;
				font-family: Syncopate;
				font-size: 40px;
				font-weight: bold;
				line-height: 41px;
				text-align: center;
				padding: 50px 0;
                padding-bottom: 150px;

			}	
				div.pg.hand-home>section.hand-parceirosTecnologia-home ul{
					text-align: center;
				}
					div.pg.hand-home>section.hand-parceirosTecnologia-home ul li{
						display: inline-block;
						width: 24.7%;
						margin-bottom: 186px;
					}
						div.pg.hand-home>section.hand-parceirosTecnologia-home ul li figure{

						}
							div.pg.hand-home>section.hand-parceirosTecnologia-home ul li figure img{
								max-width: 146px;
								height: auto;
								display: block;
								margin: 0 auto;
							}
							div.pg.hand-home>section.hand-parceirosTecnologia-home ul li figure figcaption{

							}
		div.pg.hand-home>section.hand-ultimosProjetos-home{

		}
			div.pg.hand-home>section.hand-ultimosProjetos-home article{
				padding-top: 137px;
				max-width: 473px;
				margin:0 auto;
				padding-bottom: 107px;
			}
				div.pg.hand-home>section.hand-ultimosProjetos-home article>span{
					color: var(--hand_fontEscura);	
					font-family: var(--hand_Syncopate);	
					font-size: 18px;	
					line-height: 19px;
					margin-bottom: 20px;
					display: block;
				}
				div.pg.hand-home>section.hand-ultimosProjetos-home article strong{

				}
				div.pg.hand-home>section.hand-ultimosProjetos-home article p{
					opacity: 0.5;	
					color: #000000;
					font-size: var(--hand_sizeTextoMenor);	
					line-height: 28px;
					margin-top: 20px;
					margin-bottom: 20px;
				}
				div.pg.hand-home>section.hand-ultimosProjetos-home article a{
					border: 2px solid #000000;
					color:#000000;
					text-transform: uppercase;
				    font-weight: 700;
				}
			div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home{
				z-index: 9;
				max-width: 1100px;
				position: absolute;
				top: 62%;
				left: -151px;
			}
				div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .item{
					padding: 20px;
				}
					div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .item a{

					}
						div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .item a figure{
							display: block;
							height: 142px;	
							max-width: 232px;
							margin: 0 auto;
							overflow: hidden;
						}
							div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .item a figure img{
								display: block;
								width: 100%;
								max-width: 100%;
								height: auto;
							}	
							div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .item a figure figcaption{

							}
			    div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .botao-carrossel-destaque{
                    position: relative;
                    min-height: 40px;
    				width: 100%;
			    }
				    div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .botao-carrossel-destaque .botao{
                        position: absolute;
                        left: 66%;
                        border:none;

				    } 
				    div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .botao-carrossel-destaque .botao.carrosselDestaqueEsquerda:before{
                    	content: '';
						background-image: url(../img/arrow-carrossel.svg);
					    position: absolute;
					    width: 33px;
					    height: 15px;
					    right: -50px;
					    background-repeat: no-repeat;
					    top: 4px;
				    }
				    div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home .botao-carrossel-destaque .botao.carrosselDestaqueDireita:before{
                        content: '';
						background-image: url(../img/arrow-carrossel.svg);
					    position: absolute;
					    width: 33px;
					    height: 15px;
					    right: 8px;
					    background-repeat: no-repeat;
					    top: 6px;
                        transform: rotate(180deg);
				    }
				div.pg.hand-home>section.hand-ultimosProjetos-home .hand-backgroung-projetos-home{

				}
					div.pg.hand-home>section.hand-ultimosProjetos-home .hand-backgroung-projetos-home>figure{
						display: block;
						height: 964px;

					}
						div.pg.hand-home>section.hand-ultimosProjetos-home .hand-backgroung-projetos-home>figure img{
							display: block;
							width: 100%;
							height: auto;
						}
/*@MEDIA*/
	@media(max-width: 1700px){
		div.pg.hand-home>section.hand-oqueFazemos-home ul{
			padding:75px 30px 0;
		}
	}
	@media(max-width: 1350px){
		div.pg.hand-home>section.hand-oqueFazemos-home ul li {
		    padding: 84px 73px 68px 80px;
		    height: initial;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li figure {
		    position: absolute;
		    left: 28px;
		    top: 20%;
		    bottom: 0;
		}
	}
	@media(max-width: 1300px){
		
		div.pg.hand-home>section.hand-destaque-home {
		    padding-top: 100px;
		    min-height: 0;
		    padding-bottom: 65px;
		}
		div.pg.hand-home>section.hand-destaque-home article p{
			padding:0 10px;
		}
		div.pg.hand-home>section.hand-destaque-home article p br{
			display: none;
		}

	}
	
	@media(max-width: 1160px){
		div.pg.hand-home>section.hand-oqueFazemos-home ul li {
		    padding:40px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li figure{
			position: absolute;
			left: 10px;
			top: 40px;
			bottom: 0;
		}
	}
	@media(max-width: 991px){
	
		div.pg.hand-home>section.hand-parceirosTecnologia-home{
			display:none;
		}
		
		div.pg.hand-home>section.hand-oqueFazemos-home ul li{
		    max-width: 49%;
		    text-align: left;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul{
			text-align: center;
		}
		div.pg.hand-home>section.hand-ultimosProjetos-home .hand-backgroung-projetos-home>figure{
			height: initial;
		}
	}
	@media(max-width: 768px){
		div.pg.hand-home>section.hand-oqueFazemos-home{
		    padding-bottom: 50px;
		}
		div.pg.hand-home>section.hand-ultimosProjetos-home .hand-backgroung-projetos-home>figure{
			height: initial;
		}
		div.pg.hand-home>section.hand-ultimosProjetos-home article {
		    padding-top: 50px;
		    margin: 0;
		    padding-bottom: 50px;
		}
		div.pg.hand-home>section.hand-ultimosProjetos-home .hand-carrossel-projetos-home{
			display: none;
		}
		.hand-title-destaque {
		    font-size: 30px;
		}
		div.pg.hand-home>section.hand-info-home {
		    padding-top: 15px;
		    padding-bottom: 35px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home article{
			max-width: 100%;
		}
		
		div.pg.hand-home>section.hand-destaque-home {
		    padding-top: 50px;
		}
		
		div.pg.hand-home>section.hand-oqueFazemos-home ul li{
			padding: 60px;
			max-width: 100%;
			box-shadow: 0 19px 64px 0 rgba(0,0,0,0.1);
			background-color: #FFFFFF;
			margin-bottom: 20px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li figure {
		    position: absolute;
		    left: 30px;
		    top: 60px;
		    bottom: 0;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li span{
			display: none;
		}
	}
	@media(max-width:635px){
		
		div.pg.hand-home>section.hand-info-home span{
			 font-size: 24px;
		    line-height: 40px;
	        margin-bottom: 20px;
		}
		
	}
	@media(max-width:514px){
		div.pg.hand-home>section.hand-info-home span {
		    font-size: 19px;
		    line-height: 33px;
		}
	}
	@media(max-width:425px){
		div.pg.hand-home>section.hand-destaque-home article p br{
			display: none;
		}
		.hand-title-destaque{
			font-size: 20px;
			line-height: 36px;
		}
		div.pg.hand-home>section.hand-destaque-home article h3 br{
			display: none;
		}
		div.pg.hand-home>section.hand-destaque-home article h3{
			font-size: 19px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li h2{
			font-size: 20px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li p{
			font-size: 12px;
			line-height: 20px;
		}
		div.pg.hand-home>section.hand-oqueFazemos-home ul li {
		   padding: 60px 35px 60px 75px;
		}
		
	}