/*HAND PROD MOD 2*/
	.hand-prod-mod-2{

	}
		.hand-prod-mod-2 .hand-inbound-marketing-prod{
			
		}
			.hand-prod-mod-2 .hand-inbound-marketing-prod figure{
				
			}
				.hand-prod-mod-2 .hand-inbound-marketing-prod figure img{
					transform: translate(0, -28px);
					-webkit-transform: translate(0, -28px);
					-moz-transform: translate(0, -28px);
					-o-transform: translate(0, -28px);
					-ms-transform: translate(0, -28px);
				}
			.hand-prod-mod-2 .hand-inbound-marketing-prod article{
			    padding-top: 160px;
			}
				.hand-prod-mod-2 .hand-inbound-marketing-prod article h1{
					color: #000000;
					font-family: Syncopate;
					font-size: 35px;
					font-weight: bold;
					line-height: 46px;
					padding-bottom: 57px;
				}
				.hand-prod-mod-2 .hand-inbound-marketing-prod article p{
					opacity: 0.5;
					line-height: 32px;
					margin-bottom: 20px;
				}
				.hand-inbound-marketing-prod-info  ul{
					text-align: center;
					padding-top: 97px;
					max-width: 1433px;
					margin: 0 auto;
				}
					.hand-inbound-marketing-prod-info  ul li{
						min-height: 178px;
						width: 100%;
						border-radius: 5px;
						background-color: var(--hand_templateEscura);
						display: inline-block;
						margin: 0 10px;
						text-align: left;
						padding-left: 153px;
						padding-right: 54px;
						padding-top: 43px;
						position: relative;
						vertical-align: top;
						padding-bottom: 35px;
						max-width: 587px;
					}
						.hand-inbound-marketing-prod-info  ul li figure{
							position: absolute;
							left: 70px;
							top: 80px;
						}
							.hand-inbound-marketing-prod-info  ul li figure img{
						
							}
						.hand-inbound-marketing-prod-info  ul li p{
							color: #FFFFFF;	
							font-family: "Open Sans";	
							font-size: 14px;	
							line-height: 32px;
						}
		.hand-prod-mod-2 .hand-how-it-works-prod{
		
		}
			.hand-prod-mod-2 .hand-how-it-works-prod{
		
			}
				.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod{
					padding-top: 177px;
					margin-bottom: 151px;
				}
					.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod span{
						color: #000000;
						font-family: Syncopate;
						font-size: 18px;
						line-height: 19px;
						display: block;
						text-align: center;
						font-weight: 100;
					}
					.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod h3{
			
					}
				.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod{

				}
					.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod ul{
					
					}
						.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod ul li{
							margin-bottom: 65px;
							max-width: 454px;
						}
							.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod ul li h3{
								color: #000000;
								font-family: Syncopate;
								font-size: 18px;
								font-weight: bold;
								line-height: 19px;
								padding-bottom: 11px;
							}
							.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod ul li p{
								opacity: 0.5;	
								color: #000000;	
								font-family: "Open Sans";	
								font-size: 16px;	
								line-height: 25px;
							}
					.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod figure{
				
					}
						.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod figure img{
							display: block;
							margin: 0 auto;
						}
		.hand-prod-mod-2 .hand-como-funciona-inbound-prod{
			text-align: right;
			padding-top: 135px;
		}	
			.hand-prod-mod-2 .hand-como-funciona-inbound-prod article{
				max-width: 760px;
				display: inline-block;
				text-align: left;
			}
				.hand-prod-mod-2 .hand-como-funciona-inbound-prod article h2{
					color: #000000;	
					font-family: Syncopate;	
					font-size: 25px;	
					font-weight: bold;	
					line-height: 46px;
					padding-bottom: 67px;
				}
				.hand-prod-mod-2 .hand-como-funciona-inbound-prod article p{
					opacity: 0.5;
					max-width: 720px;
				}
				.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul{
					padding-top: 117px;
				}
					.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul li{
						display: inline-block;
						width: 49%;
						padding-bottom: 61px;
						vertical-align: top;

					}
						.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul li h3{
							color: #000000;	
							font-family: Syncopate;	
							font-size: 20px;	
							font-weight: bold;	
							line-height: 20px;
							padding-bottom: 24px;
							padding-top: 20px;
						}
						.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul li p{
							opacity: 0.5;	
							color: #000000;	
							font-family: "Open Sans";	
							font-size: 16px;	
							line-height: 22px;
						}
				.hand-prod-mod-2 .hand-como-funciona-inbound-prod figure{
				    padding-bottom: 25px;
				}
					.hand-prod-mod-2 .hand-como-funciona-inbound-prod figure img{
						display: block;
					
					}
					.hand-prod-mod-2 .hand-como-funciona-inbound-prod figure img.img-ilustrativa{
						float: right;
						width: 100%;
					}
		.hand-prod-mod-2 .hand-360-prod{
			overflow: hidden;
			position: relative;
		}
		.hand-prod-mod-2 .hand-360-prod:before{
			content: "";
			display: block;
			height: 100%;
			background-color: var(--hand_templateEscura);
			left: 0;
			top: 0;
			position: absolute;
			width: 100%;
		}
		.hand-prod-mod-2 .hand-360-prod:after{
			content: "";
			display: block;
			height: 100%;
		    background: var(--hand_templateClara);
			right: 0;
			top: 0;
			position: absolute;
			max-width: 560px;
			width: 100%;
		}
			.hand-prod-mod-2 .hand-360-prod article{
				position: relative;
				z-index: 1;
			}
				.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-left{
					max-width: 745px;
					display: inline-block;
					text-align: left;
				    padding-top: 207px;
				    padding-bottom: 89px;
				}
				/*.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-left>div{
					max-width: 645px;
				}*/
				.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-right{
					background: var(--hand_templateClara);
					min-height: 890px;
					padding-top:184px;
					padding-left:90px;

				}
					.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod h2{
						color: #FFFFFF;	
						font-family: Syncopate;
						font-size: 35px;	
						font-weight: bold;	
						line-height: 37px;
						padding-bottom: 46px;
					}
					.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-right h2{
						color: #000000;	
						font-family: Syncopate;	
						font-size: 18px;	
						line-height: 19px;
						font-weight: initial;
						padding-top: 63px;
					}
					.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod p{
						opacity: 0.5;	
						color: #FFFFFF;	
						font-family: "Open Sans";	
						font-size: 16px;	
						line-height: 32px;
						padding-bottom: 78px;
					    max-width: 645px;
					}
						.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod .formatacaoLista ul li:before{
							opacity: 1;
							background-color: transparent;
							background-image: url(../img/check-circle_laranja.png);
							width: 23px;
							height: 22px;
							background-repeat: no-repeat;
							position: absolute;
							left: -8px;

						}
						.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod ul {
    						max-width: initial;
                        }
					.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-right p{
						opacity: 0.5;	
						color: #000000;	
						font-family: "Open Sans";	
						font-size: 16px;	
						line-height: 32px;
					}
					.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod ul{

					}
						.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod ul li{
							min-width: 290px;
							display: inline-block;
							padding-left: 25px;
							margin-bottom: 40px;
						}
							.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod ul li h3{
								transform: rotate(360deg);	
								color: #FFFFFF;	
								font-family: "Open Sans";	
								font-size: 16px;	
								font-weight: 600;	
								line-height: 22px;
							}
		
					.hand-prod-mod-2 .hand-inbound-negocio-prod article div.hand-title-prod h3{
						color: #000000;	
						font-family: Syncopate;
						font-size: 35px;	
						font-weight: bold;	
						line-height: 46px;	
						text-align: center;
						padding-top: 180px;
						padding-bottom: 125px;
					}
					.hand-prod-mod-2 .hand-inbound-negocio-prod article div.hand-title-prod p{

					}
						.hand-prod-mod-2 .hand-inbound-negocio-prod article .hand-content-text-prod{
							padding-right: 10px;
						}
						.hand-prod-mod-2 .hand-inbound-negocio-prod article .hand-content-text-prod span{
							color: #000000;
							font-family: Syncopate;
							font-size: 18px;
							line-height: 19px;
							display: block;
							padding-bottom: 77px;
						}
						.hand-prod-mod-2 .hand-inbound-negocio-prod article .hand-content-text-prod p{
							opacity: 0.5;	
							color: #000000;	
							font-family: "Open Sans";	
							font-size: 16px;	
							line-height: 32px;
							margin-bottom: 30px;
						}
@media(max-width: 1250px){
	.hand-prod-mod-2 .hand-360-prod:after {
       right: -158px;
	}
	.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-left{
		padding-right: 20px;
	}
}

@media(max-width:991px ){
	.hand-prod-mod-2 .hand-360-prod:after {
	   display: none;
	}
	.hand-prod-mod-2 .hand-360-prod .hand-containerFull{
		padding: 0;
	}
	.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-right{
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 70px;
		min-height: 0;
	}
	.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-right p br{
		display: none;
	}
	.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-left {
  		
  		max-width: 100%;
    	padding-right: 30px;
    	padding-left: 30px;
    	padding-top: 57px;
    	padding-bottom: 52px;
	}
	.hand-prod-mod-2 .hand-360-prod article .hand-content-text-prod.content-left{
		max-width: 100%;
	}
	.hand-prod-mod-2 .hand-inbound-marketing-prod article{
		padding: 0 10px 0;
	}
	.hand-prod-mod-2 .hand-inbound-marketing-prod figure img{
		max-width: 220px;
		margin: 0 auto;
		display: block;
	}
	.hand-prod-mod-2 .hand-inbound-marketing-prod article h1 {
	    padding-top: 96px;
	}
	.hand-prod-mod-2 .hand-inbound-marketing-prod article p{
		padding: 0 30px;
	}
	.hand-inbound-marketing-prod-info  ul li{
		width: 100%;
		margin-bottom: 20px;
	}
	.hand-inbound-marketing-prod-info  ul{
		padding: 45px 30px;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article{
		max-width: 100%;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul {
	    padding-top: 40px;
	}
	.hand-prod-mod-2 .hand-inbound-negocio-prod article div.hand-title-prod h3 {
	    font-size: 35px;
	    padding-top: 60px;
	    padding-bottom: 100px;
	}
}
@media(max-width: 768px){
	.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod span{
		text-align: left;
	}
	.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod h3{
		text-align: left;
	}
	.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod{
		padding: 0 30px 35px;
    	margin: 0;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod figure {
	    margin-top: 20px;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul {
	    padding-top: 20px;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul li h3{
		padding-top: 10px;
	}
	.hand-prod-mod-2 .hand-inbound-negocio-prod article div.hand-title-prod h3 {
	    font-size: 23px;
	    padding-top: 56px;
	    padding-bottom: 45px;
	    line-height: 38px;
	}
}
@media(max-width: 620px){
	.hand-info-prod h3 {
	    font-size: 31px;
	    line-height: 41px;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article ul li{
		width: 100%;
	}
	.hand-inbound-marketing-prod-info ul li{
	    padding-left: 90px;
	}
	.hand-inbound-marketing-prod-info ul li figure{
	    left: 40px;
	}
	.pg .hand-title-prod h3{
	    font-size: 30px;
	}
	.hand-prod-mod-2 .hand-how-it-works-prod .hand-title-prod span{
	    font-size: 13px;
	}
	.hand-prod-mod-2 .hand-how-it-works-prod .hand-contant-prod ul li h3{
	    font-size: 14px;
	}
	.hand-prod-mod-2 .hand-como-funciona-inbound-prod article h2{
		font-size: 18px;
	    line-height: 31px;
        padding-bottom: 16px;

	}
}
@media(max-width: 425px){
	.hand-inbound-marketing-prod-info ul li figure {
	    left: 40px;
	    position: initial;
	    margin: 0 auto 20px;
	    display: block;
	    text-align: center;
	}
	.hand-inbound-marketing-prod-info ul li{
	    padding-left: 0;
	    padding-right: 0;
	    padding: 20px;
	}
	
}