/*HAND PROD MOD 4*/
	.hand-prod-mod-4{

	}
	   .hand-prod-mod-4 .hand-info-prod a{
	   		width: 240px;
        }
		.hand-prod-mod-4 .hand-containerFull{
            background-color: #F4F4F4;

		}

	    .hand-prod-mod-4 .hand-destaque-prod article h1{
			max-width: 795px;
     	}

     	 .hand-prod-mod-4 .hand-destaque-prod img {
		    right: -20%;
		}
		.hand-prod-mod-4 .hand-social-media-description article{
		    max-width: 720px;
		    width: 100%;
		    display: inline-block;
		    text-align: left;
		    padding: 150px 0;

		}
			.hand-prod-mod-4 .hand-social-media-description article h2{
				color: #000000;	
				font-family: Syncopate;	
				font-size: 25px;	
				font-weight: bold;	
				line-height: 46px;
				padding-bottom: 24px;
			}
			.hand-prod-mod-4 .hand-social-media-description article span{
				color: #000000;
				font-family: Syncopate;
				font-size: 18px;
				line-height: 33px;
				display: block;
				padding-bottom: 50px;
			}
			.hand-prod-mod-4 .hand-social-media-description article p{
				opacity: 0.5;
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 32px;
				margin-bottom: 25px;
			}
			.hand-prod-mod-4 .hand-social-media-description  figure{
				display: block;
				text-align: right;
			 	padding-left: 20px;
			}
				.hand-prod-mod-4 .hand-social-media-description  figure img{
					display: block;
					width: 100%;
					max-width: 100%;
					height: auto;
				}
		section.hand-social-media-description-smm{
			    padding-bottom: 100px;
			    padding-top: 70px;
		}
		    section.hand-social-media-description-smm .hand-containerLarge{
            	max-width: 1386px;

		    }
			section.hand-social-media-description-smm figure{
			    padding-left: 105px;

			}
				section.hand-social-media-description-smm figure img{

				}	
			section.hand-social-media-description-smm article{

			}
				section.hand-social-media-description-smm article h6{
					color: #000000;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
    				padding-top: 90px;
    				padding-bottom: 66px;
				}	
				section.hand-social-media-description-smm article p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
					margin-bottom: 20px;
				}	

		section.hand-social-media-description-ads{
			background-color: #F4F4F4;
			margin-top: 100px;
			padding-top: 93px;
			padding-bottom: 92px;
			width: 100%;
            width: 1393px;
            margin: 0 auto;

		}
			.hand-social-media-description-ads .row{

			}
			section.hand-social-media-description-ads figure{
				max-width: 482px;
                margin: 0 auto;
                margin-top: 22px;

			}
			section.hand-social-media-description-ads .hand-media-titulo{
				max-width: 484px;
                padding-top: 39px;
			    text-align: center;
			}	
				section.hand-social-media-description-ads .hand-media-titulo h3{
					color: #000000;
					font-family: Syncopate;
					font-size: 25px;
					font-weight: bold;
					line-height: 46px;
				}
				section.hand-social-media-description-ads figure img{

				}
			
			section.hand-social-media-description-ads div.hand-social-media-description-ads-conteudo{

			}
				section.hand-social-media-description-ads div.hand-social-media-description-ads-conteudo h3{

				}
				section.hand-social-media-description-ads div.hand-social-media-description-ads-conteudo p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 35px;
					padding:  20px 0;
				}	
		section.hand-social-media-description-instagram-ads{

		}
			section.hand-social-media-description-instagram-ads article{
				padding-top: 268px;
			}
				section.hand-social-media-description-instagram-ads article h6{
					color: #000000;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
					padding-bottom: 84px;
                    max-width: 400px;
				}
				section.hand-social-media-description-instagram-ads article p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
				}
			section.hand-social-media-description-instagram-ads figure{
				padding-top: 114px;
			}
				section.hand-social-media-description-instagram-ads figure img{

				}	
				@media(max-width: 1350px){
					.hand-prod-mod-4 .hand-social-media-description{
						padding: 0 30px;
					}
					.hand-prod-mod-4 .hand-social-media-description article {
					    padding-top: 50px;
					}
				}
				@media(max-width: 1250px){
					section.hand-social-media-description-smm article h6 {
					    font-size: 50px;
					    line-height: 60px;
				        padding-bottom: 0;
					}
					section.hand-social-media-description-smm figure img {
					    max-width: 265px;
					    margin: 0 auto;
					    display: block;
					}

				}
				@media(max-width: 991px){
					section.hand-social-media-description-smm article h6{
					    font-size: 37px;
					}
					section.hand-social-media-description-instagram-ads article h6{
						 font-size: 37px;
					}
				}
				@media(max-width:768px){
					section.hand-social-media-description-smm figure img {
					    max-width: 150px;
					}
					section.hand-social-media-description-ads .hand-media-titulo{
						max-width: 100%;
						text-align: left;
						padding-top: 50px;
						padding: 0 20px;
					}
					section.hand-social-media-description-ads figure {
					    max-width: 100%;
					    margin: 0 auto;
					    padding-left: 20px;
					}
					section.hand-social-media-description-ads {
					    padding-top: 33px;
					    padding-bottom: 33px;
					}
					section.hand-social-media-description-instagram-ads article{
						padding-top: 0;
						
					}
					section.hand-social-media-description-instagram-ads article h6{
						padding-bottom: 0;
						padding-top: 20px;
						line-height: 40px;
					}
					section.hand-social-media-description-instagram-ads figure img{
						max-width: 150px;
						display: block;
						margin: 0 auto;
					}
					section.hand-social-media-description-instagram-ads figure {
					    padding-top: 20px;
					}
					section.hand-social-media-description-instagram-ads article p br{
						display: none;
					}

				}