/*HAND PROD MOD 3*/
	.hand-prod-mod-3{

	}
		.hand-prod-mod-3 .hand-destaque-prod article h1{
			max-width: 695px;
		}

		.hand-prod-mod-3 .hand-prod-mod-content-text{
			padding-top: 83px;
			padding-bottom:100px;
		}
			.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area{
				max-width: 534px;
			}
			.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area.beneficios{
				margin-left: 80px;
			}

				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area h4{
					color: #000000;
					font-family: Syncopate;
					font-size: 35px;
					font-weight: bold;
					line-height: 46px;
					padding-bottom: 58px;
				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area p{
					opacity: 0.5;
				    margin-bottom: 30px;
				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area span{
					max-width: 503px;
					color: #000000;
					font-family: Syncopate;
					display: block;
					font-size: 18px;
					line-height: 33px;
				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area span:nth-child(1){
					margin-bottom: 50px;
				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area span:nth-child(2){
					
				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area img{
					display: inline-block;
				    margin-bottom: 50px;

				}
				.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area ul{
					padding-top: 36px;
					
				}
					.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area ul li{
						min-width: 230px;
					}
		.hand-prod-mod-3 .hand-prod-mod-content-como-funciona{
			background-color: #1E1E1E;
		}
			.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona{
				text-align: right;
			}	
				.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona figure{
		
				}
					.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona figure img{
		
					}
				.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona article{
					padding-top: 81px;
					padding-bottom: 95px;
					display: inline-block;
					max-width: 600px;
					width: 100%;
				}
					.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona article p{
						color: #fff;
						opacity: 0.5;
						padding-top:70px;
						text-align: left;
					}
			.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona.content-right{
				padding-left: 83px;
				text-align: left;
			}
				.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona span{
					color: #FFFFFF;
					font-family: Syncopate;
					font-size: 18px;
					line-height: 33px;
					max-width: 503px;
					padding-top: 100px;
					padding-bottom: 50px;
					display: block;
				}
				.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona ul{
		
				}
					.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li{
						min-height: 140px;
						padding-left: 76px;
						position: relative;
						padding-top: 16px;
					}
						.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li:before{
							content: "";
							display: block;
							border: 1px solid #C5A36A;
							position: absolute;
							left: 23px;
							top: 0;
							height: 100%;
						}
						.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li:last-child:before{
							display: none;
						}
						.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li strong{
							height: 48px;
							width: 48px;
							background-color: #C5A36A;
							display: block;
							border-radius: 100%;
							padding-top: 14px;
							color: #FFFFFF;
							font-family: Syncopate;
							font-size: 18px;
							font-weight: bold;
							line-height: 19px;
							text-align: center;
							position: absolute;
							left: 0;
							top: 0;
						}
						.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li h2{
							color: #FFFFFF;
							font-family: Syncopate;
							font-size: 18px;
							font-weight: bold;
							line-height: 19px;
							padding-bottom: 22px;
						}
						.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona li p{
								opacity: 0.5;	
								color: #FFFFFF;	
								font-family: "Open Sans";	
								font-size: 16px;
						}
			.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works{
				padding-top: 200px;
			    background-color: #F4F4F4;
			}
				.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works .hand-title-prod h3{
					padding-bottom: 68px;
				}	
				.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works div{
		
				}
					.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works div h3{
		
					}
					.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works div p{
		
					}
					.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 18px;
						line-height: 19px;
						text-align: center;
						padding-top: 60px;
						padding-bottom: 40px;
					}
					.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul{
						text-align: center;
					}
						.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li{
							max-width: 465px;
							display: block;
							margin: 0 auto;
							text-align: left;
							padding: 0 0 0 40px;
							position: relative;
							height: 210px;
						}
						
						.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:after{
							content: "";
							display: block;
							background: url(../img/borda.svg);
							width: 100%;
							height: 10px;
							position: absolute;
							bottom: 0;
							left: 20px;
						}
						.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:before{
							content: "";
							display: block;
							background-repeat: no-repeat!important;
							height: 209px;
							width: 109px;

						}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li.hand-list-left-border:before{
								background: url(../img/bordaLeft.svg);
								position: absolute;
								left: -84px;
								bottom: 0;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li.hand-list-right-border:before{
								background: url(../img/bordaRight.svg);
								position: absolute;
								right: -127px;
								bottom: 0;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(1) .hand-conteuto{
								position: relative;
								top: -7px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(2):before{
							    bottom: 11px;
							}

							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(2):after{
							    bottom: 11px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(3):before{
						        bottom: 22px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(3):after{
						        bottom: 22px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(3) .hand-conteuto{
								position: relative;
								top: -29px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(4):before{
						        bottom: 33px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(4):after{
						        bottom: 33px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(5):before{
						        bottom: 44px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(5):after{
						        bottom: 44px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(5) .hand-conteuto{
								position: relative;
							    top: -56px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(5) .hand-conteuto figure{
							    padding-bottom: 2px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(6):before{
						        bottom: 55px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(6):after{
								bottom: 55px;
								background-position: 50px 0px;
								background-repeat: no-repeat;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(7):before{
						        display: none;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(7):after{
						        display: none;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(7) .hand-conteuto{
								position: relative;
								top: -72px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:nth-child(7) .hand-conteuto figure img{
							   max-width: 12px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li .hand-conteuto{
								
							}	
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li figure{
								padding-bottom: 15px;
								background: #f4f4f4;
								max-width: 51px;
								text-align: center;
							}	
								.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li img{
									
								}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li h3{
								color: #000000;	
								font-family: Syncopate;	
								font-size: 20px;	
								font-weight: bold;	
								line-height: 20px;
								margin: 15px 0;
								padding-left: 16px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li p{
								opacity: 0.5;
								color: #000000;
								font-family: "Open Sans";
								font-size: 16px;
								line-height: 22px;
								padding-left: 10px;
								position: relative;
								display: inline-block;
								padding-left: 16px;
								margin-bottom: 5px;
							}
								.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li p:before{
									display: block;
									content: "";
									height: 5px;
									width: 5px;
									opacity: 0.2;
									background-color: #000000;
									position: absolute;
									left: 0;
									top: 8px;
									border-radius: 100%;

								}
			.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC{
				background-color: #1E1E1E;
			}
			    .hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC figure{
					max-width: 211px;
				    text-align: left;
				    margin-bottom: 45px;
				    padding-bottom: 65px;
				    margin: 0 auto;

			    }
				.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page{
					background: #fff;
				    min-height: 466px;
				    text-align: right;
				    padding-top: 105px;
				}
					.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page h3{
						color: #000000;
						font-family: Syncopate;
						font-size: 55px;
						font-weight: bold;
						line-height: 60px;
					    max-width: 510px;
						text-align: left;
						display: inline-block;
						padding-top: 18px;
					}
				.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text{

				}
					.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul{
						padding-top: 100px;
						padding-bottom: 100px;
						padding-left: 75px;
						max-width: initial;
					}
						.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul li{
							margin-right: 0px;
							margin-bottom: 30px;
							min-width: 45%;
							padding-left: 22px;
							
						}		
							.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul li:before{
								opacity: 0.2;
								background-color: #FFFFFF;
								display: block;
								content: "";
								position: absolute;
								left: 0;
								top: 10px;
							}
							.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul li p{
								color: #fff;
								display: inline-block;
							}	
			
@media(max-width: 1400px){
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul {
	   
	    padding-left: 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul li {
	    min-width: 49%;
	}
} 
@media(max-width: 1350px){
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-page-content-text ul li{
		display: block;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page {
	    min-height: 720px;
	}
} 
@media(max-width: 1300px){
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona article{
		padding: 81px 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page h3{
		padding-left: 30px;
	}
} 
@media(max-width: 991px){
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page h3 {
	    font-size: 43px;
	    line-height: 48px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area{
		padding: 0 10px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text div.hand-prod-mod-content-text-area img{
	    margin-bottom: 0;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona{
		text-align: left;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona figure img{
		width: 100%;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona article{
	    padding: 55px 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona article p{
		padding-top: 20px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona span{
		padding-top: 0;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-como-funciona .hand-prod-mod-content-text-area-como-funciona.content-right{
		padding-left: 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works{
		padding-top: 80px
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works .hand-title-prod h3 {
	    padding-bottom: 40px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li.hand-list-left-border:before{
		display: none;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:after{
		display: none;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li:before{
		display: none;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul li{
		height: initial;
		border-left: solid 4px #c5a36a;
		max-width: 100%;
	    min-height: 80px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works ul{
		padding: 0 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works h2{
		text-align: left;
		padding: 60px 30px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-area-how-it-works div p{
		padding: 0 30px;
	}
}
@media(max-width: 768px){
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page h3{

	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page {
	    min-height: 100px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page {
	    padding-top: 20px;
	}
	.hand-prod-mod-3 .hand-prod-mod-content-text-Our-goals-for-your-PPC .hand-title-page h3 {
	    max-width: 100%;
	    width: 100%;
	}
	.hand-post-blog ul.grid-post{
		padding: 80px 30px 0;
	}
}