/*HAND PROD MOD 1*/
	
		.hand-prod-mod-1 .hand-conteudo-prod{
			padding-top: 0;
		}
			.hand-prod-mod-1 .hand-conteudo-prod article{
				padding: 100px 0;
			}
			.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull article{
				background: var(  --hand_templateEscura);
				padding: 140px 20px;

			}
				.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull .row{
					max-width: 1220px;
					margin: 0 auto;
					
				}
				.hand-prod-mod-1 .hand-conteudo-prod article .hand-sub-title{}
					.hand-prod-mod-1 .hand-conteudo-prod article .hand-sub-title h3{
						padding-top: 0;
					}
			
			.hand-prod-mod-1 .hand-conteudo-prod article .hand-texto-prod{
				width: 100%;
				max-width: 400px;
			}
				.hand-prod-mod-1 .hand-conteudo-prod article .hand-texto-prod p{
				    opacity: 0.5;
				    font-size: var(--hand_sizeTextoPadrao);	
				    line-height: 30px;
			        margin-bottom: 30px;
				}
				
				.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull .row p{
					opacity: 0.5;	
					color: #FFFFFF;
					
				}
				.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull .row h4{
					color: #FFFFFF;	
					font-family: var(--hand_Syncopate);	
					font-size: 25px;	
					font-weight: bold;	
					line-height: 26px;
					padding-bottom: 28px;
				}
				.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull .row li{
					color:#fff;
				}
					.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull .row li:before{
						background-color: transparent;
						opacity: 1;
						background-image: url(../img/check-circle.png);
						background-position: center!important;
						background-size: cover!important;
						width: 12px;
						height: 12px;

					}
		.hand-prod-mod-1 .hand-our-plans-prod{
			padding-top: 170px;
		}
			.hand-prod-mod-1 .hand-our-plans-prod .hand-title-prod{
				border-bottom: 1px solid #979797;
				padding-bottom: 57px;
				margin-bottom: 75px;
				text-align: left;
			}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-title-prod span{
					color: #000000;	
					font-family: var(--hand_Syncopate);	
					font-size: 18px;	
					line-height: 19px;
					padding-bottom: 28px;
					display: block;
					font-weight: 200;

				}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-title-prod h3{
				
				}
			.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod{
				max-width: 360px;
			}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod h3{
					color: #000000;	
					font-family: var(--hand_Syncopate);		
					font-size: 20px;	
					font-weight: bold;	
					line-height: 20px;
					margin-bottom: 75px;
				}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod p{
					opacity: 0.5;
					margin-bottom: 20px;
					font-size: 14px;
				}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod a{
					transform: rotate(360deg);
					color: #FFFFFF;
					font-family: var(--hand_OpenSans);
					font-size: 14px;
					letter-spacing: 1px;
					line-height: 19px;
					display: block;
					height: 41px;
					width: 261px;
					border-radius: 2px;
					background-color: #000000;
					text-align: center;
					text-transform: uppercase;
					line-height: 41px;
					text-decoration: none;
					margin-top: 75px;
				}
			.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod{
				max-width: 778px;
				margin:0 auto;
			}
				.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod{
					padding-bottom: 60px;
				}
					.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod img{
					    max-width: 25px;
					}
					.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod strong{
						font-family: var(--hand_Syncopate);
						font-weight: bold;
						font-size: 20px;
						display: block;
						text-align: center;
					}
					.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod{
						border-bottom: 1px solid #979797;
						padding-bottom: 15px;
						padding-top: 15px;
					}
						.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod figure{
							display: flex;
                            justify-content: center;
						}
							.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod figure img{
								max-width: 20px;
							}
					.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod:last-child {
						border-bottom: 1px solid transparent;
					}
						.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod h2{
							opacity: 0.5;	
							transform: rotate(360deg);	
							color: #000000;	
							font-family: var(--hand_OpenSans);	
							font-size: 16px;	
							line-height: 22px;
							position: relative;
						}
							.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod h2:after{
								content: 'i';
							    position: absolute;
							    right: -17px;
							    border: 1px solid;
							    border-radius: 100%;
							    width: 22px;
							    height: 22px;
							    text-align: center;
							    font-size: 12px;
						    }
	.hand-prod-mod-1 .hand-link-prod a{
    	max-width: 130px;
		width: 100%;
	}
	.hand-prod-mod-1 .hand-link-prod .col-sm-3{
	  

	}
	.hand-prod-mod-1 .hand-conteudo-prod article .hand-texto-prod.formatacaoLista ul li{
		min-width: 172px;
	}
@media(max-width: 1300px){
	.hand-containerLarge{
		padding: 0 30px;
	}
	.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull article{

	}
}
@media(max-width: 1200px){
	.hand-prod-mod-1 .hand-conteudo-prod article .hand-texto-prod p{
		padding: 0 10px;
	}
}
@media(max-width: 991px){
	.hand-prod-mod-1 .hand-conteudo-prod article{
	    padding: 50px 0;
	}
	.hand-prod-mod-1 .hand-conteudo-prod article .hand-sub-title h3{
	    padding-bottom: 40px;
	}
	.hand-prod-mod-1 .hand-conteudo-prod .hand-containerFull article{
	    padding: 60px 20px;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod a{
		display: none;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod{
		max-width: 100%;
		margin-top: 100px;
	}
	.hand-prod-mod-1 .hand-link-prod a{
		display: none;
		margin-left: 0;
	}
	.hand-prod-mod-1 .hand-link-prod a:first-child{
		display: inline-block;
	}
	.hand-prod-mod-1 .hand-link-prod{
		text-align: center;
	}
	.hand-prod-mod-1 .hand-our-plans-prod{
		padding-top: 63px;
	}
}
@media(max-width: 768px){
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod strong{
	    font-size: 16px;
	}
	.hand-destaque-prod{
	    padding-top: 150px;
	    padding-bottom: 100px;
	    height: initial;
	}
	.hand-destaque-prod article p{
		padding-bottom: 20px;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-title-prod span{
		padding-bottom: 0;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-contant-text-prod h3{
		margin-bottom: 20px;
	}

}
@media (max-width: 635px){
	.hand-destaque-prod {
	    padding-top: 100px;
	    padding-bottom: 100px;
	    height: initial;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod strong{
	    font-size: 13px;
	}
}
@media (max-width:560px){
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod{
		overflow-y: scroll;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar              { 

	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar-button       {

	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar-track        { 

	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar-track-piece  {

	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar-thumb        {

	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-scrollbar-corner       {
		width: 0;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod::-webkit-resizer                {
		width: 0;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-title-prod{
		min-width: 460px;
		max-width: 460px;
	}
	.hand-prod-mod-1 .hand-our-plans-prod .hand-table-prod .hand-table-content-prod{
		min-width: 460px;
		max-width: 460px;
	}
}