/*PÁGINA O QUE FAZEMOS*/
div.pg.hand-oqueFazemos{

	background-color: #f7f7f7;
	}
	div.pg.hand-oqueFazemos{

	}
		div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos {
			background: url(../img/47.png);
			background-size: cover!important;
			background-position: 0 -430px!important;
			height: 100vh;
		}
		header .hand-menu-home> ul.menu-nav{
			display: none;
		}

			div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article{
				max-width: 450px;
				max-width: 463px;
                padding: 43px 0;
                padding-top: 184px;
			}
				div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure{
					padding: 40px 0;
					max-width: 285px;
				}
					div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure img{
						
				    }
                div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  p {
                	padding-bottom: 50px;
                	opacity: 0.5;
				    margin-bottom: 30px;

				}

				div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  a {
				}
                div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  a img {
					transform: rotate(270deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					max-width: 88px;
					display: block;
					width: auto;
					height: 105px;
				}
        div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos{
        	padding: 60px 0;
        	padding-top: 100px;

        }
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section{
		}

		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section{
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section h2{
				color: var(--hand_fontEscura);
				font-family: var(--hand_Syncopate);
				font-size: 65px;
				font-weight: bold;
				line-height: 86px;
			}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-descricao-oqueFazemos{
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-descricao-oqueFazemos p{
				opacity: 0.5;
				margin-bottom: 60px;
			}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-servicos {
			}
				div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos  .hand-title-servicos h3{
					max-width: 503px;
					color: var(--hand_fontEscura) ;
					font-family: Syncopate;
					display: block;
					font-size: 18px;
					line-height: 33px;
				}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos{
			padding-top: 36px;
		}

			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos ul{
				max-width: 410px;
			}

				div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos ul li{
					
				}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia{
			
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia .hand-title-servico{
				
			}
				div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia .hand-title-servico h2{
					color: var(--hand_fontEscura) ;
					font-family: Syncopate;
					font-size: 40px;
					font-weight: bold;
					line-height: 46px;
					padding-bottom: 58px;
							
				}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia article {				
							
			}div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia article p{
				opacity: 0.5;
				margin-bottom: 30px;
							
			}
    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia{
    	padding: 60px 0;

    }
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel{
	    	display: block;
			text-align: right;
			padding-right: 40px;

	    }
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel.rigth{
	    	padding-top: 130px;
	    	text-align: left;
	    	padding-left: 40px;


	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel figure {

		    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel figure img {

			    }
    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos{

    }
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento{
	    	min-height: 668px;	
	    	width: 1258px;	
	    	border-radius: 2px;	
	    	background-color: #F1F1F1;
	    	padding: 170px 140px;

	    } 
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento p{
		    	min-height: 188px;	
		    	min-width: 963px;	
		    	color: var(--hand_fontPreta);	
		    	font-family: Times;
		    	font-size: 30px;	
		    	font-style: italic;	
		    	line-height: 47px;
                padding: 40px 0;
                position: relative;
		    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento p:before{
			    	content: '"';
				    position: absolute;
				    min-height: 271px;
				    min-width: 134px;
				    opacity: 0.1;
				    color: #1E1E1E;
				    font-family: Syncopate;
				    font-size: 278px;
				    font-weight: bold;
				    left: -40px;
				    top: 8px;

			    	
			    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento span{
		    	min-height: 19px;
		    	min-width: 169px;	
		    	transform: rotate(360deg);	
		    	color: var(--hand_fontPreta);	
		    	font-family: var(--hand_OpenSans);	
		    	font-size:  var(--hand_sizeTextoMenor);	
		    	

		    }
    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface{
    	padding: 90px 0;

    } 
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface .hand-title-servico{
	    	
	    } 
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface .hand-title-servico h3{
		    	color: var(--hand_fontEscura);
				font-family: Syncopate;
				font-size: 40px;
				font-weight: bold;
				line-height: 46px;
				padding-bottom: 58px;		    	
						    } 
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface article{
	    	
	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface article p{
		    	opacity: 0.5;
				margin-bottom: 30px;
				padding-right: 75px;
							
		    }
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface figure{
	    	
	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface figure img{
		    	
		    }
@media(max-width: 1700px){
	div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure {
    	padding: 13px 0;
    	max-width: 285px;
    }
}