/*HAND VAGAS*/
	.hand-vaga{

	}
		.hand-vaga .hand-perguntas-frequentes-area{

		}
			.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page{
				background-color: #000000;
				height: 681px;
				padding-top: 249px;
			}
				.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2{
					color: #FFFFFF;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
					position: relative;
				}
					.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2:before{
						content: "";
						display: block;
						background: url(../img/arrow-left.svg);
						width: 41px;
					    height: 32px;
					    position: absolute;
					    right: 0;
					    background-repeat: no-repeat;
					    top: 14px;
					    left: -185px;
                    }
				.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page p{
					opacity: 0.6;
					color: #FFFFFF;
					font-family: "Open Sans";
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 22px;
					padding-top: 32px;
				}
			.hand-vaga .hand-perguntas-frequentes-area article{

			}
				.hand-vaga .hand-perguntas-frequentes-area article figure{

				}
				.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo{
					padding-top: 110px;
					max-width: 617px;
					padding-left: 110px;

					
				}
					.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 35px;
						font-weight: bold;
						line-height: 46px;
						padding-bottom: 32px;
					}
					.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo ul{
						margin-bottom: 75px;
						max-width: initial;
					}
						.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo ul li{
							display: block;
							opacity: 0.56;
							color: #000000;
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 32px;
							margin-bottom: 0;
							font-weight: normal;

						}	
						.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo ul li::before{
							opacity: 1;
							height: 4px;
                            width: 4px;
						}
			.hand-vaga .hand-perguntas-frequentes-area article .formulario{
     			max-width: 633px;
                padding-left: 110px;
			}
@media(max-width: 1300px){
	.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2 {
	    font-size: 61px;
	    line-height: 61px;
	}
	.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page {
	    background-color: #000000;
	    height: initial;
	    padding-top: 230px;
	    padding-bottom: 100px;
	}
}
@media (max-width: 991px){
	.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2{
	    font-size: 50px;
	    line-height: 50px;
	}
}
@media (max-width: 768px){
	.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo {
	    padding-left: 0;
	    padding: 30px;
	}
	.formulario{
		padding: 30px;
	}
}
@media (max-width: 635px){
	.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2 {
	    font-size: 24px;
	    line-height: 40px;
	}
	.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page {
	    background-color: #000000;
	    height: initial;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
	.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo h2{
		font-size: 24px;
		line-height: 24px;
	}
	.formulario h3{
		font-size: 24px;
		line-height: 24px;
	}
	.formulario h3 br{
		display: none;
	}

}